
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSeller.cshtml";

}

<div id="wrap-body" class="p-t-lg-45">
    <div class="container">
        <div class="wrap-body-inner">
            <!-- Breadcrumb-->
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ht-breadcrumb pull-left">
                            <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="home-act"><a href="#">Car</a></li>
                            <li class="active">Sell a car</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <a href="#" class="ht-btn ht-btn-default pull-right m-t-lg-0"><i class="fa fa-upload"></i>Upload your Vehicle</a>
                    </div>
                </div>
            </div>
            <!-- Sell a car -->
            <section class="m-t-lg-30 m-t-xs-0 m-b-lg-50">
                <div>
                    <div class="row">

                        <!-- Contact details -->
                        <div class="m-b-lg-20">
                            <div class="heading-1">
                                <h3>SELLER Details</h3>
                            </div>
                            <p class="m-b-lg-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit et dolore magna aliqua</p>
                            <form>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Website">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Other link">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Location">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-item" placeholder="Location">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 m-t-lg-10"><button type="submit" class="ht-btn ht-btn-default">Update Information</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
