
@{
    ViewBag.Title = "Dealer Stats";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main content -->
<div id="wrap-body" class="p-t-lg-30">
    <div class="container">
        <div class="wrap-body-inner">
            <!-- Breadcrumb-->
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ht-breadcrumb pull-left">
                            <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Dealer Statistics</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Car list -->
            <section class="block-product m-t-lg-30 m-t-xs-0">
                <div class="row">
                    <div>
                        <!-- Car -->
                        <div class="product product-list car">
                            <div class="clearfix"></div>
                            <!-- Product item -->
                            <table class="table">
                                <tr>
                                    <th>Delaer</th>
                                    <th>Vehicle</th>
                                    <th>Email</th>
                                    <th>Car Listings</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Dealer One</td>
                                    <td>954-555-1212</td>
                                    <td>delaerone@dealer.com</td>
                                    <td><a href="/admin/sellerdetails/1">View Details</a></td>
                                </tr>
                                <tr>
                                    <td>Dealer One</td>
                                    <td>954-555-1212</td>
                                    <td>delaerone@dealer.com</td>
                                    <td><a href="/admin/sellerdetails/1">View Details</a></td>
                                </tr>
                                <tr>
                                    <td>Dealer One</td>
                                    <td>954-555-1212</td>
                                    <td>delaerone@dealer.com</td>
                                    <td><a href="/admin/sellerdetails/1">View Details</a></td>
                                </tr>
                                <tr>
                                    <td>Dealer One</td>
                                    <td>954-555-1212</td>
                                    <td>delaerone@dealer.com</td>
                                    <td><a href="/admin/sellerdetails/1">View Details</a></td>
                                </tr>
                                <tr>
                                    <td>Dealer One</td>
                                    <td>954-555-1212</td>
                                    <td>delaerone@dealer.com</td>
                                    <td><a href="/admin/sellerdetails/1">View Details</a></td>
                                </tr>

                                <tr>
                                    <td>Dealer One</td>
                                    <td>954-555-1212</td>
                                    <td>delaerone@dealer.com</td>
                                    <td><a href="/admin/sellerdetails/1">View Details</a></td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
