
@{
    ViewBag.Title = "EbayLaunch";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Main content -->
<div id="wrap-body" class="p-t-lg-30">
    <div class="container">
        <div class="wrap-body-inner">
            <!-- Breadcrumb-->
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ht-breadcrumb pull-left">
                            <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Ebay Launch</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Car detail -->
            <section class="m-t-lg-30 m-t-xs-0">
                <div class="product_detail no-bg p-lg-0">
                    <!-- Car name -->
                    <h3 class="product-name color1-f">
                        360 FORGED® - MESH 8 /
                        <span class="product-price color-red">$128,000.00 <i class="color-9 color1-9"> ( Plus Taxes & Licensing ) </i></span>
                        <span class="car-status m-l-lg-10">USED</span>
                    </h3>
                    <div class="row">
                        <form>
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-item" placeholder="Title">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-item" placeholder="Reserve">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-item" placeholder="Starting Bid">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <select class="form-control form-item">
                                            <option>Default template</option>
                                            <option>Template for Classic Cars</option>
                                            <option>Template for HotRods</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 m-t-lg-10">
                                    <button type="submit" class="ht-btn ht-btn-default">Preview Ad</button>
                                    <button type="submit" class="ht-btn ht-btn-default">Launch eBay</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


