
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Ebay";
}

<!-- Main content -->
<div id="wrap-body" class="p-t-lg-30">
    <div class="container">
        <div class="wrap-body-inner">
            <!-- Breadcrumb-->
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ht-breadcrumb pull-left">
                            <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Ebay</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Car list -->
            <section class="block-product m-t-lg-30 m-t-xs-0">
                <div class="row">
                    <div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


