
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Index";
}

<!-- Main content -->
<div id="wrap-body" class="p-t-lg-30">
    <div class="container">
        <div class="wrap-body-inner">
            <!-- Breadcrumb-->
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ht-breadcrumb pull-left">
                            <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Cars</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Car list -->
            <section class="block-product m-t-lg-30 m-t-xs-0">
                <div class="row">
                    <div>
                        <!-- Car -->
                        <div class="product product-list car">
                            <div class="heading heading-2 m-b-lg-0">
                                <h3 class="p-l-lg-20">All Cars</h3>
                            </div>
                            <div class="product-filter p-t-xs-20 p-l-xs-20">
                                <div class="pull-right">
                                    <div class="m-b-xs-10 m-r-lg-20 pull-left">
                                        <label class="pull-left p-t-lg-10 m-r-lg-5"><i class="fa fa-sort-alpha-asc"></i>Filter : </label>
                                        <div class="select-wrapper pull-left">
                                            <div class="dropdown pull-left">
                                                <button class="dropdown-toggle form-item w-130" type="button" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    Latest
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu7">
                                                    <li>Offer</li>
                                                    <li>Best Seller</li>
                                                    <li>Featured</li>
                                                    <li>Latest</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <label class="pull-left p-t-lg-10 m-r-lg-5"><i class="fa fa-sort-alpha-asc"></i>Show : </label>
                                        <div class="select-wrapper pull-left">
                                            <div class="dropdown pull-left">
                                                <button class="dropdown-toggle form-item w-80" type="button" id="dropdownMenu8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    6
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu8">
                                                    <li>6</li>
                                                    <li>12</li>
                                                    <li>24</li>
                                                    <li>All</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Product item -->
                            <div class="product-item hover-img">
                                <div class="row">
                                    <div class="col-sm-12 col-md-5 col-lg-5">
                                        <a href="#" class="product-img"><img src="/content/images/default.jpg" alt="image"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-7 col-lg-7">
                                        <div class="product-caption">
                                            <h4 class="product-name">
                                                <a href="#" class="f-18">360 FORGED® - MESH 8</a>
                                            </h4>
                                            <b class="product-price color-red">$201,000</b>
                                            <p class="product-txt m-t-lg-10">Nunc facilisis sagittis ullamcorper. Proin lectulputate</p>
                                            <ul class="static-caption m-t-lg-20">
                                                <li><i class="fa fa-clock-o"></i>2016</li>
                                                <li><i class="fa fa-tachometer"></i>Automatic</li>
                                                <li><i class="fa fa-road"></i>13,000</li>
                                                <li><i class="fa fa-pencil"></i>Update</li>
                                                <li><i class="fa fa-upload"></i>Post on eBay</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item hover-img">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-5">
                                        <a href="#" class="product-img"><img src="/content/images/default.jpg" alt="image"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-7">
                                        <div class="product-caption">
                                            <h4 class="product-name">
                                                <a href="#" class="f-18">360 FORGED® - MESH 8</a>
                                            </h4>
                                            <b class="product-price color-red">$201,000</b>
                                            <p class="product-txt m-t-lg-10">Nunc facilisis sagittis ullamcorper. Proin lectulputate</p>
                                            <ul class="static-caption m-t-lg-20">
                                                <li><i class="fa fa-clock-o"></i>2016</li>
                                                <li><i class="fa fa-tachometer"></i>Automatic</li>
                                                <li><i class="fa fa-road"></i>13,000</li>
                                                <li><i class="fa fa-pencil"></i>Update</li>
                                                <li><i class="fa fa-upload"></i>Post on eBay</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item hover-img">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-5">
                                        <a href="#" class="product-img"><img src="/content/images/default.jpg" alt="image"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-7">
                                        <div class="product-caption">
                                            <h4 class="product-name">
                                                <a href="#" class="f-18">360 FORGED® - MESH 8</a>
                                            </h4>
                                            <b class="product-price color-red">$201,000</b>
                                            <p class="product-txt m-t-lg-10">Nunc facilisis sagittis ullamcorper. Proin lectulputate</p>
                                            <ul class="static-caption m-t-lg-20">
                                                <li><i class="fa fa-clock-o"></i>2016</li>
                                                <li><i class="fa fa-tachometer"></i>Automatic</li>
                                                <li><i class="fa fa-road"></i>13,000</li>
                                                <li><i class="fa fa-pencil"></i>Update</li>
                                                <li><i class="fa fa-upload"></i>Post on eBay</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item hover-img">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-5">
                                        <a href="#" class="product-img"><img src="/content/images/default.jpg" alt="image"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-7">
                                        <div class="product-caption">
                                            <h4 class="product-name">
                                                <a href="#" class="f-18">360 FORGED® - MESH 8</a>
                                            </h4>
                                            <b class="product-price color-red">$201,000</b>
                                            <p class="product-txt m-t-lg-10">Nunc facilisis sagittis ullamcorper. Proin lectulputate</p>
                                            <ul class="static-caption m-t-lg-20">
                                                <li><i class="fa fa-clock-o"></i>2016</li>
                                                <li><i class="fa fa-tachometer"></i>Automatic</li>
                                                <li><i class="fa fa-road"></i>13,000</li>
                                                <li><i class="fa fa-pencil"></i>Update</li>
                                                <li><i class="fa fa-upload"></i>Post on eBay</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item hover-img">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-5 ">
                                        <a href="#" class="product-img"><img src="/content/images/default.jpg" alt="image"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-7">
                                        <div class="product-caption">
                                            <h4 class="product-name">
                                                <a href="#" class="f-18">360 FORGED® - MESH 8</a>
                                            </h4>
                                            <b class="product-price color-red">$201,000</b>
                                            <p class="product-txt m-t-lg-10">Nunc facilisis sagittis ullamcorper. Proin lectus ipsum</p>
                                            <ul class="static-caption m-t-lg-20">
                                                <li><i class="fa fa-clock-o"></i>2016</li>
                                                <li><i class="fa fa-tachometer"></i>Automatic</li>
                                                <li><i class="fa fa-road"></i>13,000</li>
                                                <li><i class="fa fa-pencil"></i>Update</li>
                                                <li><i class="fa fa-upload"></i>Post on eBay</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-item hover-img">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-5">
                                        <a href="#" class="product-img"><img src="/content/images/default.jpg" alt="image"></a>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-7">
                                        <div class="product-caption">
                                            <h4 class="product-name">
                                                <a href="#" class="f-18">360 FORGED® - MESH 8</a>
                                            </h4>
                                            <b class="product-price color-red">$201,000</b>
                                            <p class="product-txt m-t-lg-10">Nunc facilisis sagittis ullamcorper. Proin lectus ipsum</p>
                                            <ul class="static-caption m-t-lg-20">
                                                <li><i class="fa fa-clock-o"></i>2016</li>
                                                <li><i class="fa fa-tachometer"></i>Automatic</li>
                                                <li><i class="fa fa-road"></i>13,000</li>
                                                <li><i class="fa fa-pencil"></i>Update</li>
                                                <li><i class="fa fa-upload"></i>Post on eBay</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination ht-pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

