
@{
    ViewBag.Title = "Seller Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="wrap-body" class="p-t-lg-30">
    <div class="container">
        <div class="wrap-body-inner">
            <!-- Breadcrumb-->
            <div class="hidden-xs">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="ht-breadcrumb pull-left">
                            <li class="home-act"><a href="#"><i class="fa fa-home"></i></a></li>
                            <li class="active">Dealer One - details</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Car detail -->
            <section class="m-t-lg-30 m-t-xs-0">
                <!-- Car description tabs -->
                <div class="row m-t-lg-30 m-b-lg-50">
                    <div >
                        <div class="heading-1">
                            <h3><i class="fa fa-info-circle"></i>Dealer Infomation</h3>
                        </div>
                        <a href="#" class="bg-gray-fa bg1-gray-2 p-lg-15 text-center m-b-lg-20 display-block">
                            <img src="/content/images/logo_w.png" alt="image">
                            <button type="submit" class="ht-btn ht-btn-default">Upload new</button>
</a>
                        <h4 class="p-t-lg-0"><a href="#">Dealer One</a></h4>
                        <div class="clearfix"></div>
                        <ul class="list-default m-t-lg-0">
                            <li><i class="fa fa-user-circle-o m-r-lg-10  icon"></i>Dealer One</li>
                            <li><i class="fa fa-phone m-r-lg-10 icon"></i>954-555-1212</li>
                            <li><i class="fa fa-envelope-o m-r-lg-10 icon"></i>Sale@cardealer.com</li>
                            <li><i class="fa fa-home m-r-lg-10 icon"></i>123 Street, Some City, ST 12345</li>
                            <li><a href="http://www.dealerwebsite.com"><i class="fa fa-globe m-r-lg-10 icon"></i>http://www.dealerwebsite.com</a></li>
                        </ul>
                        <!-- Form contact dealer-->
                        <table class="table">
                            <tr>
                                <th>Image</th>
                                <th>Vehicle</th>
                                <th>Price</th>
                                <th>On eBay?</th>
                                <th>Clicks to date</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th><img src="~/Content/images/default.jpg" height="100"/></th>
                                <th>1952 Ford Mustang</th>
                                <th>$50,000</th>
                                <th>No</th>
                                <th>1000</th>
                                <td><a href="#">View Details</a></td>
                            </tr>
                            <tr>
                                <th><img src="~/Content/images/default.jpg" height="100" /></th>
                                <th>1952 Ford Mustang</th>
                                <th>$50,000</th>
                                <th>No</th>
                                <th>1000</th>
                                <td><a href="#">View Details</a></td>
                            </tr>
                            <tr>
                                <th><img src="~/Content/images/default.jpg" height="100" /></th>
                                <th>1952 Ford Mustang</th>
                                <th>$50,000</th>
                                <th>No</th>
                                <th>1000</th>
                                <td><a href="#">View Details</a></td>
                            </tr>
                            <tr>
                                <th><img src="~/Content/images/default.jpg" height="100" /></th>
                                <th>1952 Ford Mustang</th>
                                <th>$50,000</th>
                                <th>No</th>
                                <th>1000</th>
                                <td><a href="#">View Details</a></td>
                            </tr>
                            <tr>
                                <th><img src="~/Content/images/default.jpg" height="100" /></th>
                                <th>1952 Ford Mustang</th>
                                <th>$50,000</th>
                                <th>No</th>
                                <th>1000</th>
                                <td><a href="#">View Details</a></td>
                            </tr>
                            <tr>
                                <th><img src="~/Content/images/default.jpg" height="100" /></th>
                                <th>1952 Ford Mustang</th>
                                <th>$50,000</th>
                                <th>No</th>
                                <th>1000</th>
                                <td><a href="#">View Details</a></td>
                            </tr>

                        </table>
                    </div>
                    </div>
                    <!-- Dealer Infomation -->
                    <div class="col-sm-12 col-md-4 col-lg-4">
                </div>
                <!-- Other cars -->
            </section>
        </div>
    </div>
</div>

